.ProfileSide{
    display: flex;
    /* The column value stacks the flex items vertically (from top to bottom): */
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
} 